@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
--brand-green: #66BB6A; /* main green matching logo */
--brand-yellow: #F7DF6C;
--muted: #6c7a89;
--card-bg: #ffffff;
--bg: #f4f7f6;
}


*{box-sizing: border-box}
body,html,#root{height:100%;margin:0;font-family:'Poppins',sans-serif;background:var(--bg);color:#222}